# LISTS

In [1]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

# Accessing Values

In [2]:
list1[2:5]

[1997, 2000]

In [3]:
list1[2] = 2020

In [4]:
list1

['physics', 'chemistry', 2020, 2000]

# Deleting

In [5]:
del list1[1]
print(list1)

['physics', 2020, 2000]

In [6]:
list1.remove(2000)

In [7]:
list1

['physics', 2020]

------------------------------------------------------------------

# Tuples

In [8]:
t1=('physics',10,65,2020)

In [9]:
# tuples are immutable, cannot be updated
# Removing individual tuple elements is not possible.

In [10]:
# Delete the whole tuple

In [12]:
print(t1)

del t1

print(t1)

NameError: name 't1' is not defined

-----------------------------------

# Dictionary

In [13]:
# key-value pair
# keys should be unique
# the keys must be of an immutable data type such as strings, numbers, or tuples

In [17]:
dictt = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [18]:
print(dictt['Name'])

Zara

# Update

In [21]:
dictt['Name'] = "Sriju"

# INSERT

In [22]:
dictt['City'] = "Coimbatore"

In [23]:
print(dictt)

{'Name': 'Sriju', 'Age': 7, 'Class': 'First', 'City': 'Coimbatore'}

# DELETE specific element

In [26]:
dictt['test'] = True

In [27]:
print(dictt)

{'Name': 'Sriju', 'Age': 7, 'Class': 'First', 'City': 'Coimbatore', 'test': True}

In [28]:
del dictt['test']

In [29]:
print(dictt)

{'Name': 'Sriju', 'Age': 7, 'Class': 'First', 'City': 'Coimbatore'}

# Remove all elements without deleting the dictionary

In [31]:
ndict = dictt
print(ndict)

{'Name': 'Sriju', 'Age': 7, 'Class': 'First', 'City': 'Coimbatore'}

In [32]:
ndict.clear()

In [33]:
print(ndict)

{}

# DELETE entire DICT

In [34]:
del ndict

In [35]:
print(ndict)

NameError: name 'ndict' is not defined

In [38]:
dictt = {'Name': 'Zara', 'Age': 7, 'Class': 'First', 'Age':24}
print(dictt)

{'Name': 'Zara', 'Age': 24, 'Class': 'First'}

In [39]:
# when keys are repeated, the last assigneed value gets assigned

------------------------------------------------------------------------

# 2D Array - Arrays within an Array

In [40]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

# Accessing Values

In [41]:
print(T)

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

In [42]:
print(T[0])

[11, 12, 5, 2]

In [43]:
print(T[0][0])

11

In [44]:
type(T)

list

# INSERT

In [45]:
T.insert(2, [0,5,11,13,6])

In [46]:
print(T)

[[11, 12, 5, 2], [15, 6, 10], [0, 5, 11, 13, 6], [10, 8, 12, 5], [12, 15, 8, 6]]

# UPDATE

In [47]:
T[0][0] = 10

In [48]:
print(T)

[[10, 12, 5, 2], [15, 6, 10], [0, 5, 11, 13, 6], [10, 8, 12, 5], [12, 15, 8, 6]]

# DELETE

In [49]:
del T[2]

In [50]:
print(T)

[[10, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

In [51]:
del T[0][3]

In [52]:
print(T)

[[10, 12, 5], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

In [53]:
del T

In [54]:
print(T)

NameError: name 'T' is not defined

--------------------------------------------------------------------------------------

# MATRIX

In [56]:
# Matrix is a special case of two dimensional array where each data element is of strictly same size.
# So every matrix is also a two dimensional array but not vice versa.

In [57]:
from numpy import *

In [58]:
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])

# Accessing Values in a Matrix

In [60]:
m[0][0]

'Mon'

In [61]:
m[0]

array(['Mon', '18', '20', '22', '17'], dtype='<U3')

# Adding a Row

In [63]:
m_r = append(m,[['Avg',12,15,13,11]],0)

In [64]:
print(m_r)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']
 ['Avg' '12' '15' '13' '11']]

# Adding a Column

In [65]:
m_c = insert(m,[5],[[1],[2],[3],[4],[5],[6],[7]],1)
print(m_c)

[['Mon' '18' '20' '22' '17' '1']
 ['Tue' '11' '18' '21' '18' '2']
 ['Wed' '15' '21' '20' '19' '3']
 ['Thu' '11' '20' '22' '21' '4']
 ['Fri' '18' '17' '23' '22' '5']
 ['Sat' '12' '22' '20' '18' '6']
 ['Sun' '13' '15' '19' '16' '7']]

# DELETE A ROW

In [66]:
m = delete(m,[2],0)

print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

# DELETE A COLUMN

In [67]:
m = delete(m,[2],1)

In [68]:
print(m)

[['Mon' '18' '22' '17']
 ['Tue' '11' '21' '18']
 ['Thu' '11' '22' '21']
 ['Fri' '18' '23' '22']
 ['Sat' '12' '20' '18']
 ['Sun' '13' '19' '16']]

# UPDATE A ROW

In [70]:
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])

m[3] = ['Thu',0,0,0,0]

print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '0' '0' '0' '0']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

-----------------------------------------------------

# SET

In [71]:
# a set is a collection of items not in any particular order.
# Elements in the Set are Immutable
# Cannot contain Duplicates
# There is no index attached to any element in a python set. So they do not support any indexing or slicing operation

In [72]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}

# Adding ITEMS

In [73]:
Days.add("Sun")
print(Days)

{'Wed', 'Mon', 'Sun', 'Thu', 'Sat', 'Fri', 'Tue'}

# Removing items

In [74]:
Days.discard("Sun")

In [75]:
print(Days)

{'Wed', 'Mon', 'Thu', 'Sat', 'Fri', 'Tue'}

# Union of Sets

In [76]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])

AllDays = DaysA | DaysB

In [77]:
print(AllDays)

{'Wed', 'Mon', 'Sun', 'Thu', 'Sat', 'Fri', 'Tue'}

# Intersection of Sets

In [78]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])

CommonDays = DaysA & DaysB

print(CommonDays)

{'Wed'}

# Difference Sets

In [79]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Mon', 'Tue'}

# Compare Sets

In [80]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True